langchain
langchain-community
langchain-core
langchain-groq
wikipedia
faiss-cpu
sentence-transformers
transformers
torch
numpy
pandas
scikit-learn
tqdm
python-dotenv
fastapi
uvicorn
pydantic
requests
beautifulsoup4
tiktoken
huggingface-hub
